Repository bcgov/platform-services-registry, pull requests merged in 2020-12, with the labels that each got.

#208 Edit profile details
  api/__tests__/__snapshots__/profile.spec.ts.snap
  api/src/controllers/profile.ts
  api/src/db/model/profile.ts
  web/src/__tests__/__snapshots__/form.test.tsx.snap
  web/src/components/ProfileEditableProject.tsx
  web/src/components/SubFormProject.tsx
  web/src/utils/transformDataHelper.tsx
  web/src/utils/useRegistryApi.tsx
  web/src/views/ProfileEditable.tsx
Labels: component/api, component/web

#211 Add prioritySystem and Component Metadata to transform
  web/src/utils/transformDataHelper.tsx
Labels: bug

#212 Bugfix for giving proper default cluster name when sending the request json
  api/src/controllers/namespace.ts
  api/src/libs/quota-editing.ts
Labels: bug

#215 Disable description editing
  web/src/components/ProfileEditableProject.tsx
Labels: component/web

#234 Fix the web csv export double quote issue
  web/src/utils/transformDataHelper.tsx
Labels: bug

#242 Implement API Endpoint to GET Provisioned Projects
  api/__tests__/__snapshots__/sync.spec.ts.snap
  api/__tests__/fixtures/select-namespaces.json
  api/__tests__/sync.spec.ts
  api/doc/api.yaml
  api/public/doc/api/index.html
  api/src/controllers/namespace.ts
  api/src/controllers/provision.ts
  api/src/controllers/sync.ts
  api/src/libs/fulfillment.ts
  api/src/libs/namespace-set.ts
  api/src/libs/quota-editing.ts
  api/src/router/routes/provision.ts
Labels: component/api

#257 Add Actions and Lifecycle Badge
  README.md
Labels: documentation

#260 Update onSubmit logic, use refactored redirect block
  web/src/components/ProfileEditableProject.tsx
Labels: bug, component/web
