Repository bcgov/platform-services-registry, pull requests merged in 2021-05, with the labels that each got.

#402 WEB UI footer link update
  web/src/components/common/layout/Footer.tsx
Labels: component/web, hotfix

#409 Implement an optional prefix config for project licenseplates
  api/openshift/templates/config.yaml
  api/src/config/config.json
  api/src/db/utils.ts
Labels: component/api

#412 Only apply SYNC action name to requests that are already provisioned
  api/src/controllers/sync.ts
  api/src/libs/fulfillment.ts
Labels: bug
