Repository bcgov/platform-services-registry, pull requests merged in 2021-06, with the labels that each got.

#397 Dashboard Approvals / Automerge (WEB)
  api/__tests__/fulfillment.spec.ts
  api/src/controllers/request.ts
  api/src/db/model/request.ts
  api/src/libs/messaging.ts
  api/src/libs/profile.ts
  web/package-lock.json
  web/package.json
  web/src/__tests__/__snapshots__/Dashboard.test.tsx.snap
  web/src/components/common/UI/RadioInput.tsx
  web/src/components/common/UI/Table.tsx
  web/src/components/common/modal/modal.style.tsx
  web/src/components/common/modal/modal.tsx
  web/src/components/dashboard/DashboardModal.style.tsx
  web/src/components/dashboard/ProjectRequests.tsx
  web/src/components/dashboard/ReviewRequestModal.tsx
  web/src/components/profileCreate/CreateFormMetadata.tsx
  web/src/components/profileCreate/CreateFormMigration.tsx
  web/src/components/profileCreate/CreateFormPO.tsx
  web/src/components/profileCreate/CreateFormTC.tsx
  web/src/hooks/useModal.tsx
  web/src/hooks/useRegistryApi.tsx
  web/src/theme.ts
  web/src/views/Dashboard.tsx
Labels: component/web

#425 Update provisionCallbackHandler body to unpack clusterName
  api/src/controllers/provision.ts
Labels: app-development, bug

#423 Enable users to edit profile names
  api/__tests__/__snapshots__/project-profile.spec.ts.snap
  api/__tests__/project-profile.spec.ts
  api/src/controllers/project-profile.ts
  web/src/components/profileEdit/ProjectCardEdit.tsx
Labels: app-development, component/api, component/web

#426 Remove the migration checklist card from project create
  web/src/components/profileCreate/CreateFormMigration.tsx
  web/src/views/ProfileCreate.tsx
Labels: app-development, component/web

#429 Remove dashboard approvals from non admins view
  web/src/__tests__/Dashboard.test.tsx
  web/src/utils/getDecodedToken.tsx
  web/src/views/Dashboard.tsx
Labels: app-development, component/web, hotfix

#428 Refactored NATS context message into snake case and v2 format
  api/__tests__/__snapshots__/fulfillment.spec.ts.snap
  api/__tests__/fulfillment.spec.ts
  api/src/db/model/namespace.ts
  api/src/libs/bot-message.ts
  api/src/libs/fulfillment.ts
  api/src/types.ts
  web/.eslintrc
  web/src/views/Dashboard.tsx
Labels: app-development, component/api

#433 Remove unique profile name constraint
  db/sql/V2.4__remove_unique_profile_name_constraint.sql
Labels: app-development, component/db

#442 Update request findAll() to include is_active = true
  api/src/db/model/request.ts
Labels: app-development, bug, hotfix

#443 Update pending profiles to find requests not needng human action
  api/src/controllers/sync.ts
  api/src/db/model/request.ts
Labels: app-development, bug

#444 Update sync pending edit tests prototype
  api/__tests__/sync.spec.ts
Labels: app-development, bug, component/api

#445 Update sync pending edit lint error
  api/src/controllers/sync.ts
Labels: app-development, bug, component/api

#438 Cypress Testing
  .github/workflows/cypress-test.yml
  .github/workflows/dev-web.yml
  web/cypress.json
  web/cypress/integration/test1.js
Labels: app-development, component/web

#446 Update getProfilesUnderPendingEditOrCreate logic
  api/__tests__/__snapshots__/profile.spec.ts.snap
  api/__tests__/fixtures/get-request-edit-contacts.json
  api/__tests__/fixtures/get-request-edit-quota-size.json
  api/src/controllers/sync.ts
Labels: app-development, component/api

#447 Update sync pending project details fetch
  api/src/controllers/sync.ts
Labels: app-development, component/api

#452 Remove forced capitalization of email and githubID
  web/src/components/profileEdit/ContactCardEdit.tsx
Labels: app-development, bug, component/api

#451 Move receivedHumanAction earlier so it is captured during rejection
  api/src/controllers/request.ts
Labels: app-development, bug, component/api
