Repository bcgov/platform-services-registry, pull requests merged in 2021-02, with the labels that each got.

#293 Update email notification format
  api/src/libs/messaging.ts
  api/templates/provisioning-request-done.html
  api/templates/provisioning-request-done.txt
  api/templates/provisioning-request-received.html
Labels: component/api, enhancement

#298 PO/TC Dashboard view enhancement
  api/__tests__/__snapshots__/profile.spec.ts.snap
  api/__tests__/profile.spec.ts
  api/src/controllers/profile.ts
  api/src/db/model/profile.ts
  api/src/libs/authorization.ts
  api/src/libs/utils.ts
Labels: component/api

#301 Fix the current breaking changes to web portal csv extract
  api/__tests__/__snapshots__/profile.spec.ts.snap
  api/src/db/model/profile.ts
Labels: bug

#309 Update flyway docker build
  db/flyway.Dockerfile
Labels: bug

#313 Multi-stage Project Create form
  api/__tests__/__snapshots__/project-profile.spec.ts.snap
  api/src/db/model/profile.ts
  db/sql/V1.10.1__add_migrating_licenseplate_profile_alter.sql
  web/src/__tests__/__snapshots__/ProfileCreate.test.tsx.snap
  web/src/__tests__/__snapshots__/ProjectCard.test.tsx.snap
  web/src/components/common/UI/Button.tsx
  web/src/components/common/UI/CheckboxInput.tsx
  web/src/components/common/UI/FormControls.tsx
  web/src/components/common/UI/SelectInput.tsx
  web/src/components/common/UI/TextAreaInput.tsx
  web/src/components/common/UI/TextInput.tsx
  web/src/components/profileCreate/CreateFormMetadata.tsx
  web/src/components/profileCreate/CreateFormMigration.tsx
  web/src/components/profileCreate/CreateFormPO.tsx
  web/src/components/profileCreate/CreateFormProject.tsx
  web/src/components/profileCreate/CreateFormRequest.tsx
  web/src/components/profileCreate/CreateFormTC.tsx
  web/src/components/profileEdit/ContactCardEdit.tsx
  web/src/components/profileEdit/ProjectCard.tsx
  web/src/components/profileEdit/ProjectCardEdit.tsx
  web/src/theme.ts
  web/src/utils/Wizard.tsx
  web/src/utils/getValidator.tsx
  web/src/views/ProfileCreate.tsx
  web/src/views/ProfileEdit.tsx
Labels: component/web

#320 Update updateProjectProfile to include migratingLicenseplate
  api/src/controllers/project-profile.ts
Labels: component/api

#322 Update checkbox form props
  web/src/components/common/UI/CheckboxInput.tsx
  web/src/components/profileCreate/CreateFormMetadata.tsx
  web/src/components/profileCreate/CreateFormMigration.tsx
  web/src/components/profileCreate/CreateFormProject.tsx
  web/src/components/profileCreate/CreateFormRequest.tsx
  web/src/components/profileEdit/ProjectCardEdit.tsx
Labels: hotfix

#323 Table dashboard view
  web/.eslintignore
  web/package-lock.json
  web/package.json
  web/src/__tests__/Dashboard.test.tsx
  web/src/__tests__/ProjectCard.test.tsx
  web/src/__tests__/__snapshots__/Dashboard.test.tsx.snap
  web/src/__tests__/__snapshots__/ProjectCard.test.tsx.snap
  web/src/components/common/UI/Icon.tsx
  web/src/components/common/UI/Table.tsx
  web/src/types/react-table-config.d.ts
  web/src/views/Dashboard.tsx
Labels: component/web
