Repository bcgov/platform-services-registry, pull requests merged in 2021-07, with the labels that each got.

#437 Multi cluster replication
  api/__tests__/__snapshots__/fulfillment.spec.ts.snap
  api/__tests__/__snapshots__/namespace.spec.ts.snap
  api/__tests__/fixtures/select-project-set-namespaces.json
  api/__tests__/fulfillment.spec.ts
  api/__tests__/sync.spec.ts
  api/src/constants.ts
  api/src/controllers/project-profile.ts
  api/src/controllers/provision.ts
  api/src/controllers/sync.ts
  api/src/db/model/namespace.ts
  api/src/libs/bot-message.ts
  api/src/libs/fulfillment.ts
  api/src/libs/namespace.ts
  api/src/libs/utils.ts
  db/sql/V2.5__add_archived_golddr.sql
  web/src/components/common/UI/FormControls.tsx
  web/src/components/profileCreate/CreateFormGoldModal.tsx
  web/src/components/profileCreate/CreateFormProject.tsx
  web/src/hooks/useRegistryApi.tsx
  web/src/utils/transformDataHelper.tsx
  web/src/views/ProfileCreate.tsx
Labels: app-development, component/api, component/web

#461 FED-227 Add a report bug link on footer
  web/src/components/common/layout/Footer.tsx
  web/src/constants.ts
  web/src/views/Dashboard.tsx
Labels: app-development, component/web

#464 Update contact edit sync context parse
  api/src/controllers/sync.ts
Labels: app-development, component/api

#455 Multiple Technical Leads (Edit)
  api/__tests__/lib-request.spec.ts
  api/__tests__/profile.spec.ts
  api/src/controllers/profile.ts
  api/src/libs/request.ts
  web/src/__tests__/ContactCard.test.tsx
  web/src/__tests__/__snapshots__/ContactCard.test.tsx.snap
  web/src/__tests__/__snapshots__/ProfileCreate.test.tsx.snap
  web/src/__tests__/__snapshots__/ProfileEdit.test.tsx.snap
  web/src/__tests__/__snapshots__/ProjectCard.test.tsx.snap
  web/src/components/common/UI/FormTitle.tsx
  web/src/components/profileEdit/ContactCard.tsx
  web/src/components/profileEdit/ContactCardEdit.tsx
  web/src/components/profileEdit/ProjectCard.tsx
  web/src/components/profileEdit/ProjectCardEdit.tsx
  web/src/utils/transformDataHelper.tsx
  web/src/views/ProfileEdit.tsx
Labels: app-development, component/api, component/web

#454 Multiple Technical Leads (Create)
  api/__tests__/lib-request.spec.ts
  api/__tests__/profile.spec.ts
  api/src/controllers/profile.ts
  api/src/libs/request.ts
  web/.eslintrc
  web/package.json
  web/src/__tests__/ContactCard.test.tsx
  web/src/__tests__/__snapshots__/ContactCard.test.tsx.snap
  web/src/__tests__/__snapshots__/ProfileCreate.test.tsx.snap
  web/src/__tests__/__snapshots__/ProfileEdit.test.tsx.snap
  web/src/__tests__/__snapshots__/ProjectCard.test.tsx.snap
  web/src/components/common/UI/Button.tsx
  web/src/components/common/UI/FormTitle.tsx
  web/src/components/profileCreate/CreateFormMetadata.tsx
  web/src/components/profileCreate/CreateFormPO.tsx
  web/src/components/profileCreate/CreateFormProject.tsx
  web/src/components/profileCreate/CreateFormTC.tsx
  web/src/components/profileCreate/CreateFormTL.tsx
  web/src/components/profileEdit/ContactCard.tsx
  web/src/components/profileEdit/ContactCardEdit.tsx
  web/src/components/profileEdit/ProjectCard.tsx
  web/src/components/profileEdit/ProjectCardEdit.tsx
  web/src/constants.ts
  web/src/utils/Wizard.tsx
  web/src/utils/transformDataHelper.tsx
  web/src/views/ProfileCreate.tsx
  web/src/views/ProfileEdit.tsx
Labels: app-development, component/web

#470 Update busOrgId interface to string
  api/src/db/model/profile.ts
Labels: app-development, component/api
